    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <header class="ml-yelow-background">
        <div class="flex justify-center flex align-center">
          <img 
             id="logo"
             class="w-50 w-33-sm"
             src="/img/logo-mercado-liebre.svg" 
             alt="" />
            <div class="flex no-wrap searchbar w-100">
                 <input 
                   type="text" 
                   class="w100"
                   placeholder="Buscar productos,marcas" 
                 />

          <button><i class="fa fa-search"></i></button>
       </div>
     
     <h3><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i></h3>
     </div>
<nav
    id="ml-main-nav"
    class="hide flex show-sm justify-space-between">
<ul class="flex">
    <li class="padding-8">
        <a href= "#">ofertas</a>
    </li>
    <li class="padding-8">
        <a href= "#">tiendas oficiales</a>
    </li>
    <li class="padding-8">
        <a href= "#">vender</a>
    </li>
    <li class="padding-8">
        <a href= "#">ayuda</a>
    </li>
</ul>

<ul class="flex">
    <li class="padding-8">
        <a href= "/register">creá tu cuenta</a>
        <i class="far fa-address-card"></i>
    </li>
    <li class="padding-8">
        <a href= "#">ingresá</a>
        <i class="fas fa-sign-in-alt"></i>
    </li>
    <li class="padding-8">
        <a href= "#">mis compras</a>
        <i class="fas fa-shopping-basket"></i>
    </li>

</ul>
</nav>
<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
</header>
     <img 
         class="banner" 
         src= "/img/img-home-banner.jpg" 
         alt= "en estas fiestas no te pierdas ninguna venta">

    <main id="main-content" main>
    <section>
        <p class="text-title"> BASADO EN TU ULTIMA VISITA</p>
<div class="flex">
             <article class="product">
                <div class="product-wrapper">
                    <img
                    class= "product-img"
                    src="/img/img-cafetera-moulinex.jpg"
                    alt=""
                    width="100%"/>
        
                <div class="product-content">
             <i
             class=
             "fas 
             fa-truck
             ml-green-text
             product-delivery-icon
             "
             ></i>
             <p class="text-price">$6770</p>
             <p class="porcentaje">40% off</p>
          <p class="text-description">Cafetera Moulinex</p>
                </article>
         <article class="product">
            <div class="product-wrapper">
                 <img class= "product-img"
                  src="/img/img-macbook-pro-2019.jpg" 
                 alt="" 
                 width="100%" />
                 <div class="product-content">
                     <i class="fas 
                     fa-truck
                     ml-green-text
                     product-delivery-icon
                     "></i>
                     <p class="text-price">$230.000</p>
                     <p class="porcentaje">20% off</p>
                    <p class="text-description">MacBook Pro 2019</p>
                    </article>
        <article class="product">
                    <div class="product-wrapper">
                 <img class= "product-img"
                  src="/img/img-samsung-galaxy-s10.jpg" 
                 alt="" 
                 width="100%" />
                 <div class="product-content">
                     <div class="produc-wrapper">
                         <i class="fas 
                         fa-truck
                         ml-green-text
                         product-delivery-icon
                         "></i>
                         <p class="text-price">$70.500</p>
                         <p class="porcentaje">10% off</p>
                         <p class="text-description">Samsung Galaxy S10</p>
                        </article>
         <article class="product">
            <div class="product-wrapper">
                  <img class= "product-img"
                 src="/img/img-tv-samsung-smart.jpg" 
                 alt="" 
                 width="100%" />
                 <div class="product-content">
                     <i class="fas 
                     fa-truck
                     ml-green-text 
                     product-delivery-icon
                     "></i>
                     <p class="text-price">$23.200</p>
                     <p class="porcentaje">5% off</p>
                     <p class="text-description">SmartTv Samsung 43"</p>
                    </div>      
                </article>
     </section>     
   <section>
       <p class="text-title">SECCION DE OFERTAS</p>
       <div class="flex">
         <article class="product">
              <div class="product-wrapper">
                 <img class= "product-img"
                 src="/img/img-cafetera-moulinex.jpg" 
                 alt="" 
                 width="100%" />
                 <div class="product-content">
                     <i class="fas 
                     fa-truck
                     ml-green-text
                     product-delivery-icon
                     "></i>
                     <p class="text-price">$6770</p>
                     <p class="porcentaje">40% off</p>
                     <p class="text-description">Cafetera Moulinex</p>
                    </article>
         <article class="product">
            <div class="product-wrapper">
                 <img class= "product-img"
                 src="/img/img-macbook-pro-2019.jpg" 
                 alt="" 
                 width="100%" />
                 <div class="product-content">
                     <i class="fas 
                     fa-truck
                     ml-green-text
                     product-delivery-icon
                     "></i>
                     <p class="text-price">$230.000</p>
                     <p class="porcentaje">20% off</p>
                     <p class="text-description">MacBook Pro 2019</p>
                    </article>             
        <article class="product">
            <div class="product-wrapper">
                <img class= "product-img"
                  src="/img/img-samsung-galaxy-s10.jpg" 
                 alt="" 
                 width="100%" />
                 <div class="product-content">
                     <i class="fas 
                     fa-truck
                     ml-green-text
                     product-delivery-icon
                     "></i>
                     <p class="text-price">$70.500</p>
                     <p class="porcentaje">10% off</p>
                     <p class="text-description">Samsung Galaxy S10</p>
                    </article>
        <article class="product">
            <div class="product-wrapper">
                <img class="product-img" src="/img/img-tv-samsung-smart.jpg" alt="" width="100%" />
                <div class="product-content">
                    <i class="fas 
                             fa-truck
                             ml-green-text 
                             product-delivery-icon
                             "></i>
                    <p class="text-price">$23.200</p>
                    <p class="porcentaje">5% off</p>
                    <p class="text-description">SmartTv Samsung 43"</p>
                </div>
        </article>
                    
    </div>
        </section>
 </main> 
 <footer>
 <section>
<ul class=final>
    <div class="card-credit">
        <i class="fas fa-credit-card"></i></div>
        <h1>Pagá con tarjeta o en efectivo</h1>
    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!
    <div class="gift">
        <i class="fas fa-gift"></i>
    </div>
    <h1>Envío gratis desde $ 2.500</h1>
    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.
    <div class="security">
        <i class="fas fa-user-shield"></i>
    </div>
    <h1>Seguridad, de principio a fin</h1>
    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.
    
</ul>
<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>
</footer>
</body>
    </html>