<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

<link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <header class="ml-yelow-background">
     <div>
     <img src="/img/logo-mercado-liebre.svg" alt="" />
     </div>
     <p><i class="fas fa-search"></i>Lugar para poner la barra de busquedad</p>
     
     <h3><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i></h3>
     <nav>
<ul>
    <li><a href= "ofertas">ofertas</a></li>
    <li><a href= "tiendas oficiales">tiendas oficiales</a></li>
    <li><a href= "vender">vender</a></li>
    <li><a href= "ayuda">ayuda</a></li>
</ul>

<ul>
    <li><a href= "creá tu cuenta">creá tu cuenta</a><i class="far fa-address-card"></i></li>
    <li><a href= "ingresá">ingresá</a><i class="fas fa-sign-in-alt"></i></li>
    <li><a href= "mis compras">mis compras</a><i class="fas fa-shopping-basket"></i></li>

</ul>
</nav>
<div class="burger-menu">
    <i class="fas fa-bars"></i>
</div>
    </header>
    <main>
    <section>
        <p class="text-title"> BASADO EN TU ULTIMA VISITA</p>
        <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="" width="100%"/>
        </article>
     <h1 class="text-price">$6770</h1>
     <h3>40% off</h3>
    <h5>Cafetera Moulinex</h5>
    <article>
        <img src="/img/img-macbook-pro-2019.jpg" alt="" width="100%" />
    </article>
    <h1 class="text-price">$230.000</h1>
    <h3>20% off</h3>
    <h5>MacBook Pro 2019</h5>
    <article>
        <img src="/img/img-samsung-galaxy-s10.jpg" alt="" width="100%" />
    </article>
    <h1 class="text-price">$70.500</h1>
    <h3>10% off</h3>
    <h5>Samsung Galaxy S10</h5>
    <article>
        <img src="/img/img-tv-samsung-smart.jpg" alt="" width="100%" />
    </article>
    <h1 class="text-price">$23.200</h1>
    <h3>5% off</h3>
    <h5>SmartTv Samsung 43"</h5>
    </section>   
    <section>
        <p class="text-title">SECCION DE OFERTAS</p>
        <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="" width="100%" />
        </article>
        <h1 class="text-price">$6770</h1>
        <h3>40% off</h3>
        <h5>Cafetera Moulinex</h5>
        <article>
            <img src="/img/img-macbook-pro-2019.jpg" alt="" width="100%" />
        </article>
        <h1 class="text-price">$230.000</h1>
        <h3>20% off</h3>
        <h5>MacBook Pro 2019</h5>
        <article>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="" width="100%" />
        </article>
        <h1 class="text-price">$70.500</h1>
        <h3>10% off</h3>
        <h5>Samsung Galaxy S10</h5>
        <article>
            <img src="/img/img-tv-samsung-smart.jpg" alt="" width="100%" />
        </article>
        <h1 class="text-price">$23.200</h1>
        <h3>5% off</h3>
        <h5>SmartTv Samsung 43"</h5>
    </section>
    </main> 
<section>
<ul>
    <div class="card-credit">
        <i class="fas fa-credit-card"></i></div>
        <h1>Pagá con tarjeta o en efectivo</h1>
    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!
    <div class="gift">
        <i class="fas fa-gift"></i>
    </div>
    <h1>Envío gratis desde $ 2.500</h1>
    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
    productos. Es un beneficio de Mercado Puntos.
    <div class="security">
        <i class="fas fa-user-shield"></i>
    </div>
    <h1>Seguridad, de principio a fin</h1>
    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.
    
</ul>
<h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</section>
</body>
    </html>