<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="body-general">
        </head>

        <body>
            <header class="ml-yelow-background">
                <div class="flex justify-center flex align-center">
                    <img 
                     id="logo" 
                     class="w-50 w-33-sm" 
                     src="/img/logo-mercado-liebre.svg" 
                     alt="" 
                     />
                    <div class="flex no-wrap searchbar w-100">
                        <input 
                          type="text" 
                          class="w100" 
                          placeholder="Buscar productos,marcas" 
                          />

                        <button><i class="fa fa-search"></i></button>
                    </div>

                    <h3><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i></h3>
                </div>
                <nav id="ml-main-nav" class="hide flex show-sm justify-space-between">
                    <ul class="flex">
                        <li class="padding-8">
                            <a href="#">ofertas</a>
                        </li>
                        <li class="padding-8">
                            <a href="#">tiendas oficiales</a>
                        </li>
                        <li class="padding-8">
                            <a href="#">vender</a>
                        </li>
                        <li class="padding-8">
                            <a href="#">ayuda</a>
                        </li>
                    </ul>

                    <ul class="flex">
                        <li class="padding-8">
                            <a href="/register">creá tu cuenta</a>
                            <i class="far fa-address-card"></i>
                        </li>
                        <li class="padding-8">
                            <a href="/login">ingresá</a>
                            <i class="fas fa-sign-in-alt"></i>
                        </li>
                        <li class="padding-8">
                            <a href="#">mis compras</a>
                            <i class="fas fa-shopping-basket"></i>
                        </li>

                    </ul>
                </nav>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </header>
            <main class="main-login">
                <h1>Ingresá a tu cuenta</h1>
                <form>
                    <div class="form-input">
                        <label for="name">Nombre de usuario</label>
                        <input 
                         id="name" 
                         type="text" 
                         name="name" 
                         />
                    </div>
                    <div class="form-input">
                        <label for="Contraseña">Contraseña</label>
                        <input 
                         id="Contraseña" 
                         type="text" 
                         name="Contraseña" 
                         />
                    </div>
                    <button 
                      class="button-login" 
                      type="submit"> Ingresar</button>
                    


                </form>